.todoInput {
  background-color: #262626 !important;
  border: 1px solid transparent !important;
  padding: 14px 0 13px 15px !important;
  position: relative;
  top: -20px;
  color: #5e60ce !important;
  font-weight: bold;
}
.todoInput::placeholder {
  color: #808080 !important;
}
.todoInput:focus {
  border: 1px solid #5e60ce !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.todoBtn {
  position: relative;
  top: -20px;
  padding: 13px 0px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #1e6f9f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.todoBtn:hover {
  background-color: #4ea8de;
  transition: 0.4s;
}

.listItem {
  margin-top: 20px;
  padding: 13px !important;
  border-radius: 5px !important;
  background-color: #333333 !important;
  color: white !important;
  border: none !important;
  display: flex !important;
  justify-content: space-between;
}
.listItem p{
    margin: 0;
}
.listItem .btns{
  display: flex;
}
.listItem .btns svg{
margin-left: 8px;
color: grey;
cursor: pointer;
}
.listItem .btns .editBtn svg:hover{
color: green;
transition: 0.4s;
}
.listItem .btns .deleteBtn svg:hover{
color: #e25858;
transition: 0.4s;
}